* {
	box-sizing: border-box;
}

header {
	background-image: url('pattern.jpeg');
	background-size: cover;
}

header h1 {
	text-align: center;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 100px;
	color: khaki;
}

.brushes h2 {
	background-color: mediumspringgreen;
	color: white;
	font-family: Helvetica;
	font-size: 32px;
	font-weight: bold;
}

.brushes.cost {
	color: blue;
	font-family: Helvetica;
	font-weight: bold;
	display: inline;
}
